
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
p{
	text-align:justify;
}
.row::after{
		content:"";
		clear:both;
		display:block;
	}
[class*="col-"] {
    float: left;
    padding: 15px;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
#wrapper{
	width:1000px;
	margin:0 auto;
}
.header_section{
	background-color:#34314E;
	padding: 20px 0px;
}
.header_content_box{
	width:500px;
	margin:0 auto;
}
.header_content img{
	float:left;
	    margin-right: 16px;
}

.header_content h2{
	color:#E8E7ED;
	font-size: 65px;
	font-weight: normal;
}
.body_descp{
	padding:0px 20px;
}
.body_descp_left p{
    padding: 10px;
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li{
    padding: 10px 0;
    border-bottom: 1px solid #777;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
	color:black;
}


.body_descp_right h2{
    font-size: 40px;
}
.body_descp_right p{
    margin: 20px 0;
}

.footer_sec p{
	text-align:center;
}

